/* Navbar.css starts */
.Navbar {
  font-family: "Inter", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #6d031e;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999;
  transition: all 0.5s ease;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.3);
}

.mobile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}

.Navbar-Logo {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.logo-img {
  height: 40px;
  color: #ffffff;
  margin-right: 8px;
}
.logo-text {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;

  text-transform: capitalize;

  color: #ffffff;
}

.Navbar-Links {
  color: white;
  margin-right: 90px;
  position: absolute;
  right: 0;
}

.NavLink {
  font-size: 14px;
  color: white;
  margin-right: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
}

.NavLink:hover {
  color: #e2cccf;
}


.hamburger {
  width: 29px;
  height: 22.5px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger > span {
  width: 100%;
  height: 2px;
  background-color: white;
  transform-origin: left;
  transition: all 0.5s ease;
}

.Overlay {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

/* Mobile Navbar */
@media screen and (max-width: 760px) {
  .Navbar-Links {
    left: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 999;
    transition: all 0.5s ease;
    padding-top: 120px;
    position: fixed;
    width: 50%;
    height: 100vh;
    min-width: 200px;
    top: 50px;
    margin: 0;
    background-color: #6d031e;
    transition: all .5s ease-in;
  }

  .Navbar-Links.active {
    left: auto;
  }

  .mobile-container {
    position: fixed;
    width: 100%;
    top: 7px;
    left: 0;
    align-items: center;
    padding: 7px 0;
    z-index: 999;
  }

  .hamburger {
    display: flex;
    margin-right: 20px;
  }

  .hamburger.active > .line1 {
    transform: rotate(45deg);
  }

  .hamburger.active > .line2 {
    opacity: 0;
  }

  .hamburger.active > .line3 {
    transform: rotate(-45deg);
  }

  .Navbar-Logo {
    margin-left: 20px;
  }

  .NavLink,
  .SignupBtn {
    padding: 15px 0;
    font-size: 15px;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  
.NavLink:hover {
  background-color: #00000013;
}

  .Navbar{
    flex-direction: column;
  }


  .Overlay.active {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    top: 50px;
    z-index: 2;
    mix-blend-mode: multiply;
    opacity: 0.55;
  }
}
