.product-container{
    background-color: white;
    margin-top:80px;
    margin-bottom:80px;
    padding-top: 30px
}

.type-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

/*
.type {
    margin: 10px;
    padding: 2px 5px;
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}*/

.type {
    margin: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.type:hover {
    background-color: #bbb;
}

.type.selected {
    color: #ddd;
    /*background-color: black;*/
    background-color: #6d031e;
}

.slider-container {
    min-height: calc(100vh - 200px);
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

.btn-sm {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
}

@media screen and (max-width: 960px) {
    .slider-container {
        width: 95%;
    }
}