.services{
    background-color: white;
    padding-bottom: 100px;
} 

.services > h1 {
    margin-bottom: 50px;
}
.services-container {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center; 
    justify-items: center;
}

.service-item {
    height: 250px;
    width: 200px;
    background-color: rgb(232, 231, 231);
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 10px 30px;
}

.service-item-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    transition: all .2s ease;
}

.service-item-wrapper:hover {
    transform: scale(1.1);
  }

.service-item:hover {
    background-color: rgb(216, 211, 211);
}

.service-item:hover > .service-item-wrapper {
    transform: scale(1.1);
}

.service-item-wrapper > i{
    color: gray;
    font-size: 110px;
    padding-bottom: 20px;
}

.service-item-wrapper > span{
    color: gray;
    font-size: 20px;
}